Repository daily-line-sosu/Daily-Line, pull requests merged in 2022-11, with the labels that each got.

#29 feat : 챌린지 페이지 UI 개발
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Image/Image.styles.ts
  frontend/src/components/Image/Image.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/pages/Challenge/Challenge.styles.ts
  frontend/src/pages/Challenge/Challenge.tsx
  frontend/src/pages/Mypage/Mypage.styles.ts
  frontend/src/pages/Mypage/Mypage.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/webpack.config.js
Labels: feature, frontend, ui

#30 chore : Dockerfile 생성
  backend/.gitignore
  backend/Dockerfile
Labels: backend, devops, setting

#31 chore : RedisSessionConfig 수정
  backend/src/main/java/kr/sosu/dailyline/global/config/RedisSessionConfig.java
Labels: backend, chore, devops

#36 chore : redis 설정 수정
  backend/build.gradle
  backend/src/main/java/kr/sosu/dailyline/global/config/RedisSessionConfig.java
  backend/src/main/java/kr/sosu/dailyline/global/config/SecurityConfig.java
Labels: backend, devops

#37 chore : Dockerfile 생성
  frontend/Dockerfile
Labels: frontend, devops

#40 feat : 챌린지 전체 목록 API 구현
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/controller/ChallengeController.java
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/db/entity/Challenge.java
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/db/entity/Tag.java
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/db/repository/ChallengeRepository.java
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/service/ChallengeService.java
  backend/src/main/java/kr/sosu/dailyline/domain/challenge/service/ChallengeServiceImpl.java
  backend/src/main/java/kr/sosu/dailyline/domain/user/db/repository/UserRepository.java
Labels: backend, feature
